.list {
    border: 2px solid yellow;
    padding: var(--p1);
    width: 700px;
}

.list__row {
    display: flex;
    justify-content: space-between;
    margin: var(--m1);
}

.list__row__status {
    border: 1px solid yellow;
    padding: calc(var(--p1) / 2);
    display: inline-block;
    width: 100px;
}

.list__row__actions {
    flex-shrink: 0;
}

.list__row__action {
    margin-left: var(--p1);
    width: 180px;
}

.list__row__task {
    margin-right: var(--m1);
}
